<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security OAuth 2.0 Authorization Server Sample</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a id="user-menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name" th:text="${loginUserName}"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="sign-out" href="javascript:document.logoutForm.submit()">Sign Out Auth
                                    Server</a></li>
                            </ul>
                            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                <input hidden type="submit" value="Sign Out"/>
                            </form>
                        </li>
                        <li class="dropdown">
                            <a id="onlineuser-menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span sec:authentication="name" th:text="${online_user_tips}" th:value="xx"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Get authorize User Current User Info <span style="font-family:monospace"></span>:</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/user" target="_blank"><span style="font-size:medium">Current User Info uri:"/user"</span></a>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Authorize the client with <span style="font-family:monospace">grant_type</span> used
                GET/POST URL:</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Authorization Code</h4>
                    <div>
                        <h5 class="code1">
                            获取授权码
                            <p>Method: <span th:text="${authorizationCode_code_url.method}">Sebastian</span></p>
                            <p>Uri: <span th:text="${authorizationCode_code_url.uri}">Pepper</span></p>
                            ---------------------------------------------------------------------------
                        </h5>
                    </div>

                    <div>
                        <h5 class="code1-2">
                            获取Token
                            <p>Method: <span th:text="${authorizationCode_code_token_url.method}">Sebastian</span></p>
                            <p>Uri: <span th:text="${authorizationCode_code_token_url.uri}">Pepper</span></p>
                            ---------------------------------------------------------------------------
                        </h5>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Implicit</h4>
                    <div>
                        <h5 class="code2">
                            获取Token
                            <p>Method: <span th:text="${implicit_token_url.method}">Sebastian</span></p>
                            <p>Uri: <span th:text="${implicit_token_url.uri}">Pepper</span></p>
                            ---------------------------------------------------------------------------
                            <p>自定义的隐式授权URL:返回的页面url增加了refresh_token的获取,以适配token刷新</p>
                            <p>Method: <span th:text="${spec_implicit_token_url.method}">Sebastian</span></p>
                            <p>Uri: <span th:text="${spec_implicit_token_url.uri}">Pepper</span></p>
                            ---------------------------------------------------------------------------
                        </h5>
                        </h5>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Client Credentials</h4>
                    <div>
                        <h5 class="code2">
                            获取Token
                            <p>Method: <span th:text="${client_credentials_token_url.method}">Sebastian</span></p>
                            <p>Uri: <span th:text="${client_credentials_token_url.uri}">Pepper</span></p>
                            ---------------------------------------------------------------------------
                        </h5>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Resource Owner Password Credentials</h4>
                    <div>
                        <div>
                            <h5 class="code2">
                                获取Token
                                <p>Method: <span th:text="${password_token_url.method}">Sebastian</span></p>
                                <p>Uri: <span th:text="${password_token_url.uri}">Pepper</span></p>
                                ---------------------------------------------------------------------------
                            </h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Token Refresh</h4>
                    <div>
                        <div>
                            <h5 class="code2">
                                刷新Token
                                <p>Method: <span th:text="${refresh_token_url.method}">Sebastian</span></p>
                                <p>Uri: <span th:text="${refresh_token_url.uri}">Pepper</span></p>
                                <p hidden>
                                    注意:
                                    还需要将旧有的token以及其他信息以 bearer的方式填写到请求头中
                                    Authorization: "Bearer jwt的token信息"
                                </p>
                                ---------------------------------------------------------------------------
                            </h5>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h4 class="panel-title-code">Token check_token</h4>
                    <div>
                        <div>
                            <h5 class="code2">
                                检查Token
                                <p>Method: <span th:text="${check_token_url.method}">Sebastian</span></p>
                                <p>Uri: <span th:text="${check_token_url.uri}">Pepper</span></p>
                                ---------------------------------------------------------------------------
                                <p>
                                    注意返回值:
                                    {
                                    "active": true,
                                    "exp": 1594942000,
                                    "user_name": "admin",
                                    "jti": "c9889c07-2659-43cc-9029-e7324f68455d",
                                    "client_id": "bss-embed-white",
                                    "scope": [
                                    "message.read",
                                    "message.write"
                                    ]
                                    }
                                </p>
                            </h5>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div th:if="${messages}" class="panel-footer">
            <h4>Index Messages:</h4>
            <table class="table table-condensed">
                <tbody>
                <tr class="row" th:each="message : ${messages}">
                    <td th:text="${message}">message</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
