<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.sct" level="DEBUG"/>

    <!-- druid -->
    <!--<logger name="druid.sql.DataSource" level="DEBUG" />-->
    <!--<logger name="druid.sql.Connection" level="DEBUG" />-->
    <logger name="druid.sql.Statement" level="DEBUG"/>
    <!--<logger name="druid.sql.ResultSet" level="DEBUG" />-->

    <include resource="com/sct/commons/logback/logback/base.xml"/>
</configuration>
